* {
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
}

body {
    background-color: black;
}

.header, .hero-section, .payment-systems, .services, .benefits, .services2, .benefits2, .rewiews, .action, .footer {
    max-width: 1440px; 
    margin: 0 auto;   
}

.header {
    background-color: #151515;
}

.header-bar {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.logo, .nav, .sign {
    padding-top: 47px;
    color: #FFFFFF;
    cursor: pointer;
}

.logo {
  grid-column: 2/3;
  font-family: 'Satoshi', sans-serif;
  font-weight: 700;
  font-size: 24px;
}

.nav {
    grid-column: 5/9;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    font-size: 16px;
    opacity: 0.7;
}

.nav p:hover {
    text-decoration: underline;
}

.sign:hover {
    text-decoration: underline;
}

.sign {
    grid-column: 11/12;
    font-family: 'Satoshi', sans-serif;
  font-weight: 500;
  font-size: 16px;
  display: flex;
  flex-direction: row;
}

.vector {
    margin-left: 13px;
}

.hero-section {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    background-color: #151515;
    padding-bottom: 110px;
}

.tittle-wrapper {
    grid-column: 2/6;
    margin-top: 147px;
    color: #FFFFFF;
}

.welcome-text {
    font-family: "Rubik", sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: #CBFC01;
}

.main-heading {
    font-family: 'Satoshi', sans-serif;
  font-weight: 900;
  font-size: 70px;
    margin-top: 10px;
}

.description-text {
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    font-size: 18px;
    margin-top: 40px;
    opacity: 0.7;
    line-height: 150%;
}

.main-heading span {
    color: #CBFC01;
}

.hero-image-wrapper {
    grid-column: 7/13;
    position: relative;
    overflow: hidden;
}

.elipse {
margin-left: 315px;
width: 568px;
height: 568px;
border-radius: 50%;
background: #CBFC01;
margin-top: 160px;
}

.frame7 img {
    position: absolute;
    top: 290px;
    left: 20px;
}

.frame5 img {
    position: absolute;
    top: 180px;
    left: 20px;
}

.my-button {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 65px;
    width: 224px;
    margin-top: 50px;
    font-family: 'Satoshi', sans-serif;
  font-weight: 700;
  font-size: 18px;
  background-color: #CBFC01 ;
  cursor: pointer;
  position: relative;
  overflow: hidden; 
  z-index: 1; 
}


.my-button:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  width: 0;
  height: 0;
  
 
  background: radial-gradient(circle, #ffffff, transparent);
  opacity: 0; 
  transition: width 0.5s ease, height 0.5s ease, opacity 0.5s ease; 
  z-index: -1; 
}

.my-button:hover::after {
  width: 200px; 
  height: 200px; 
  opacity: 0.5; 
}



.my-button:active {
  transform: scale(0.95); 
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3); 
}

.my-button span {
    margin-right: 21px;
}

.systems {
    display: flex;
    justify-content: space-around;
    background-color: #CBFC01;
   padding-top: 80px;
   padding-bottom: 70px;
}

.systems img {
    cursor: pointer;
}

.services {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    background-color: #151515;
}

.serv {
    grid-column: 2/6;
    margin-top: 150px;
}

.Our-Services {
    font-family: "Rubik", sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: #CBFC01;
}

.Browse {
font-family: 'Satoshi', sans-serif;
  font-weight: 700;
  font-size: 48px;
  color: #FFFFFF;
  margin-top: 20px;
  margin-bottom: -20px;
}

.Browse span {
    color: #CBFC01;
}

.service-card {
    color: #FFFFFF;
    padding: 60px 40px 60px 40px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    display: flex;
    flex-direction: column;
}

.service-card img {
    max-width: 100%; 
    height: auto;    
    width: 40px;
}

.service-card h3 {
    font-family: 'Satoshi', sans-serif;
  font-weight: 500;
  font-size: 24px;
  color: #FFFFFF;
  margin-top: 36px;
}

.service-card p {
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    font-size: 16px;
    opacity: 0.7;
    line-height: 150%;
    margin-top: 24px;
}

.service-card-btn {
    margin-top: 85px;
    align-self: flex-end;
    background-color: #FFFFFF;
    width: 53px;
    height: 53px;
}

.service-card-btn:active {
  transform: scale(0.95); 
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3); 
}

.service-card:nth-of-type(2) {
    grid-column: 6/9;
    margin-top: 150px;
}

.service-card:nth-of-type(3) {
    grid-column: 9/12;
    margin-top: 150px;
}

.service-card:nth-of-type(4) {
    grid-column: 3/6;
}

.service-card:nth-of-type(5) {
    grid-column: 6/9;
}

.service-card:nth-of-type(6) {
    grid-column: 9/12;
}

.service-card:hover {
    background-color: #2E2E2E;
}

.service-card:hover .service-card-btn {
    cursor: pointer;
    background-color:#CBFC01;
}

.benefits {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    background-color: #151515;
}

.benefits-left {
    grid-column: 2/6;
    margin-top: 150px;
}

.benefits-right {
    margin-top: 150px;
    grid-column: 7/12;
}

.benefits-right img {
    width: 100%;
}

.short-description {
    font-family: "Rubik", sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: #CBFC01;
    
}

.benefits h2 {
    font-family: 'Satoshi', sans-serif;
    font-weight: 700;
    font-size: 48px;
    color: #FFFFFF;
    margin-top: 20px;
    line-height: 100%;
}

.benefits h2 span {
    color: #CBFC01;
}

.full-description {
    color: #FFFFFF;
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    font-size: 16px;
    opacity: 0.7;
    margin-top: 30px;
    line-height: 150%;
}

.stat {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    color: #FFFFFF;
}

.stat-item {
    margin-right: auto;
}

.stat-item h3 {
    margin-top: 80px;
    font-family: 'Satoshi', sans-serif;
    font-weight: 900;
    font-size: 28px;
}

.stat-item h3 span {
    color: #CBFC01;
}

.stat-item p {
    margin-top: 20px;
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #CBFC01;
}

.services2 {
     display: grid;
    grid-template-columns: repeat(12, 1fr);
    background-color: #151515;
}

.services2-left {
    margin-top: 204px;
    grid-column: 2/6;
}

.services2-left h2 {
    margin-top: 20px;
    margin-bottom: 30px;
    font-family: 'Satoshi', sans-serif;
    font-weight: 700;
    font-size: 48px;
    color: #FFFFFF;
}

.services2-left h2 span {
    color: #CBFC01;
}

.elipse2 {
     margin-top: 164px;
    grid-column: 8/12;
width: 476px;
height: 476px;
border-radius: 50%;
background: #CBFC01;
}

.card2 {
     grid-column: 7/11;
     position: relative;
}

.card2 img {
    width: 100%;
    position: absolute;
   bottom: 90px;
}

.benefits2 {
    background-color: #151515;
    color: #FFFFFF;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.benefit-card {
    margin-top: 150px;
    margin-bottom: 150px;
    width: 390px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 50px;
}

.benefits2__icon {
    height: 53px;
    width: 53px;
    background-color: #FFFFFF;
     display: flex; 
  justify-content: center; 
  align-items: center; 
}

.benefits2 h3 {
    margin-top: 22px;
     font-family: 'Satoshi', sans-serif;
  font-weight: 700;
  font-size: 32px;
}

.benefits2 p {
font-family: "Rubik", sans-serif;
    font-weight: 400;
    font-size: 16px;
    opacity: 0.7;
    margin-top: 22px;
}

.Learn-more {
    color: #FFFFFF;
    text-decoration: none;
    font-family: 'Satoshi', sans-serif;
  font-weight: 700;
  font-size: 16px;
}

.Learn-more:hover{
    text-decoration: underline;
}

.Learn-more img {
    margin-left: 7px;
}

.rewiews {
    height: 841px;
    background-color: #CBFC01;
    background-image: url('assets/grid2.png');
     background-size: cover; 
     background-position: center center; 
  background-repeat: no-repeat;    
}

.reviews-container {
  position: relative;
  width: 100%;
  display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.reviews-container p {
   grid-column: 2/4;
   margin-top: 120px;
   font-family: "Rubik", sans-serif;
    font-weight: 600;
    font-size: 19px;
}

.reviews-container h2 {
    grid-column: 2/7;
    margin-top: 21px;
    font-family: 'Satoshi', sans-serif;
    font-weight: 700;
    font-size: 72px;
    line-height: 100%;
}

.scroll-buttons {
    grid-column:11/13;
    margin-top: 60px;
}

.scroll-buttons {
    display: flex;
    flex-direction: row;
}

.scroll-button {
    height: 56px;
    width: 56px;
     border-radius: 50%;
     background-color: #CBFC01;
     border: solid 3px #151515;
     margin-right: 20px;
     font-size: 25px;
     cursor: pointer;
     display: flex;         
  justify-content: center;
  align-items: center;
}

.scroll-button:hover {
    background-color: #151515;
    color: #FFFFFF;
}

.scroll-button:active {
  transform: scale(0.95); 
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3); 
}

.cards-wrapper {
    grid-column: 1/13;
    display: flex;
    overflow-x: scroll;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    margin-top: 53px;
    gap: 30px;
}

.cards-wrapper::-webkit-scrollbar {
    display: none;
}
.cards-wrapper {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.review-card {
    flex-shrink: 0;
    width: 363px;
    padding: 50px;
    background-color:#151515;
    color: #FFFFFF;
}

.review-text {
font-family: "Rubik", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
}

.reviewer-info {
    margin-top: 26px;
    display: flex;
    flex-direction: row;
}

.reviewer-details {
    margin-left: 14px;
}

.reviewer-name {
    font-family: 'Satoshi', sans-serif;
    font-weight: 700;
    font-size: 14px;
}

.reviewer-position {
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    font-size: 12px;
    opacity: 0.7;
    margin-top: 4px;
}

.action {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    background-color: #151515;
}

.lets-grow {
    grid-column: 2/12;
    background-color: #CBFC01;
    margin-top: 150px;
    height: 380px;
    text-align: center;
    display: flex;               
    flex-direction: column;
  justify-content: center;     
  align-items: center;        
  margin-bottom: 150px;
}

.lets-grow h2 {
  font-family: 'Satoshi', sans-serif;
  font-weight: 700;
  font-size: 72px;
  margin-top: 58px;
  line-height: 123%;
}

.get2 {
    margin-top: 20px;
    align-self: center;
    width: 197px;
    height: 66px;
    background-color: #151515;
    color: #CBFC01;
    font-family: 'Satoshi', sans-serif;
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 58px;
  cursor: pointer;
  position: relative;
  overflow: hidden; 
  z-index: 1; 
}

.get2:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  width: 0;
  height: 0;
  background: radial-gradient(circle, #FFFFFF, transparent);
  opacity: 0; 
  transition: width 0.5s ease, height 0.5s ease, opacity 0.5s ease; 
  z-index: -1; 
}

.get2:hover::after {
  width: 200px; 
  height: 200px; 
  opacity: 0.2; 
}



.get2:active {
  transform: scale(0.95); 
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3); 
}

.footer {
    background-color: #151515;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    
    background-image: url('assets/grid4.png');
     background-size: cover; 
     background-position: center center; 
    background-repeat: no-repeat;  
}

.footer-wrapper {
    grid-column: 2/12;
    color: #FFFFFF;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer-wrapper h4 {
    font-family: 'Satoshi', sans-serif;
  font-weight: 700;
  font-size: 22px;
}

.footer-wrapper h4 span {
    opacity: 0.7;
}

.footer-wrapper p {
    cursor: pointer;
    
}

.footer-wrapper p:hover {
    text-decoration: underline;
}

.contacts p {
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    opacity: 0.7;
    margin-top: 18px;
}

.contacts img {
    cursor: pointer;
    margin-top: 39px;
}

.company p, .resourses p {
    margin-top: 24px;
    margin-bottom: 18px;
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    font-size: 16px;
    opacity: 0.7;
}

.subscribe-form {
    margin-top: 24px;
}

.subscribe-form input {
    height: 52px;
    width: 240px;
    background-color: #FFFFFF;
    opacity: 0.7;
    border: none;
    padding-left: 18px;
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    font-size: 16px;
    opacity: 0.7;
}

.subscribe-form button {
    height: 52px;
    width: 149px;
    background-color: #CBFC01;
    border: none;
    cursor: pointer;
    font-family: 'Satoshi', sans-serif;
  font-weight: 700;
  font-size: 16px;
  position: relative;
  overflow: hidden; 
  z-index: 1; 
}


.subscribe-form button:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  width: 0;
  height: 0;
  
 
  background: radial-gradient(circle, #ffffff, transparent);
  opacity: 0; 
  transition: width 0.5s ease, height 0.5s ease, opacity 0.5s ease; 
  z-index: -1; 
}

.subscribe-form button:hover::after {
  width: 200px; 
  height: 200px; 
  opacity: 0.5; 
}


.subscribe-form button:active {
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3); 
}

.form p {
    font-family: "Rubik", sans-serif;
    font-weight: 300;
    font-size: 16px;
    opacity: 0.4;
    margin-top: 21px;
    line-height: 26px;
    cursor: auto;
}

.form p:hover {
    text-decoration: none;
}

hr {
    color: #FFFFFF;
    grid-column: 1/13;
    height: 1px;    
    margin-top: 30px;;
}

.credits {
    grid-column: 1/13;
    text-align: center;
}

.credits p {
    color: #FFFFFF;
    font-family: "Rubik", sans-serif;
    font-weight: 300;
    font-size: 16px;
    opacity: 0.7;
    margin-top: 42px;
    margin-bottom: 42px;
}
